accelerate
attrdict
huggingface-hub[cli]
fire
tokenizers
transformers
sympy
pebble
timeout-decorator 
pytz
python-dateutil
tqdm
vllm
# already installed in PyTorch/2.1.2-CUDA-11.7.0
# torch
# pandas
# numpy
